.Common-styles{
    padding: 20px 70px;

}

.nav-styles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-style{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* padding: 20px 20px;
    max-width: 1170px;
    max-height: 500px; */
}
.title-font{
    font-size: 45px;

}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
}
nav li a{
    color: #424242;

}
.font-color{
    color: #ff900e;
}
.btn-color{
    background-color: #ff900e;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
.btn-styles{
    border-radius: 5px;
    background-color: lightgray;
    padding: 10px 200px;

}
.tag-styles{
    display: block;
    justify-content: center;
    text-align: center;
}
.Popular-styles{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.image-row{
    margin-top: 15px auto;
}
.image-row > div{
    flex: 1;
}

.item-description, .choose-us{
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 100px auto;
}
.tag-container{
    display: flex;
    justify-content: space-between;
    margin: 60px auto;

}
.tag-container img{
    width: 80px;
    height: 80px;
}
.hotel{
    width: 573px;
    height: 284px;
    background-color: rgb(248, 241, 231);
}
.map{
    width: 573px;
    height: 284px;
    background-color: rgb(206, 250, 208);
}
.Wallet-Warranty{
    /* display: block; */
    /* text-align: center; */
    /* justify-content: center;
    margin-top: 100px auto; */
    padding: 0, 50%;
    width: 573px;
    height: 284px;
    background-color: rgb(255, 233, 206);
}
.Wallet-Warranty img{
    width: 80px;
    height: 80px;
}
.Discounts{
    width: 573px;
    height: 284px;
    display: block;
    /* justify-content: center; */
    text-align: center;
    margin-left: 30%;
    margin-top: 30px;
}

.div-styles > div{
    width: 573px;
    height: 284px;
}

/* Responsive media query */
@media screen and (max-width:576px) {
   .row{
    flex-direction: column;
    height: auto;
   }
   
}
/* medium device */
@media screen and (min-width:576px) and (max-width: 992px) {
    .row{
        flex-direction: column;
        height: auto;
        padding: 20px 20px;
        gap: 5px;
       }
       
}

/* responsive media queries */
/* @media screen and (min-width: 600px) and (max-width:992px) {
    .Common-styles{
        padding: 20px 70px;
    }
    nav{
        flex-direction: column;
    }
} */